<!-- start newsletter -->
<section class="line-bg bg-white">
  <div class="newsletter-block border-bottom">
    <div class="container">
      <div class="row gy-5 align-items-center justify-content-center text-center text-md-start">
        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-10">
          <div class="pe-0 pe-xl-4">
            <h2 class="mb-3 lh-sm">Subscribe to our monthly newsletter</h2>
            <p class="mb-0">Stay up-to-date about latest tech and new world. Unsubscribe at anytime!</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="ps-0 ps-xl-4">
            <div id="mc_embed_signup">
              <form action="https://gmail.us20.list-manage.com/subscribe/post?u=92641572a6c6ec43da15feed0&amp;amp;id=d28bb2454f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                <div id="mc_embed_signup_scroll" class="input-group">
                  <input type="text" value="" name="NAME" class="form-control w-100" id="mce-NAME" placeholder="Full Name" aria-label="Name" autocomplete="new-name">
                  <input type="email" value="" name="EMAIL" class="form-control w-100 required email" id="mce-EMAIL" placeholder="Your email address *" aria-label="Subscription" autocomplete="new-email" required>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_92641572a6c6ec43da15feed0_d28bb2454f" tabindex="-1" value="">
                  </div>
                  <div class="input-group-append w-100">
                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="input-group-text w-100 mb-0" aria-label="Subscription Button"> Subscribe Now <i class="ti ti-arrow-up-right ms-auto"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end newsletter -->

<!-- start footer -->
<footer class="bg-white">
  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-4 text-center text-lg-start">
        <ul class="list-inline footer-menu">
          <li class="list-inline-item m-0">
            <a class="text-link" href="#!"><i class="ti ti-rss"></i> RSS </a>
          </li>
          <li class="list-inline-item m-0">
            <a class="text-link" href="#!">SiteMap</a>
          </li>
          <li class="list-inline-item m-0">
            <a class="text-link" href="privacy.html"> Privacy </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 text-center">
        <p class="copyright-text mb-0">&copy;2022 Tushi. All rights reserved.</p>
      </div>
      <div class="col-lg-4 text-center text-lg-end">
        <ul class="list-inline social-links">
          <li class="list-inline-item  lead text-center">
            <a class="is-hoverable" target="_blank" href="https://twitter.com/" title="Twitter">
              <i class="ti ti-brand-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item ms-3 lead text-center">
            <a class="is-hoverable" target="_blank" href="https://linkedin.com/" title="LinkedIn">
              <i class="ti ti-brand-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item ms-3 lead text-center">
            <a class="is-hoverable" target="_blank" href="https://instagram.com/" title="Instagram">
              <i class="ti ti-brand-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item ms-3 lead text-center">
            <a class="is-hoverable" target="_blank" href="https://facebook.com/" title="Facebook">
              <i class="ti ti-brand-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- scroll-to-top -->
<button class="scroll-to-top">
  <i class="ti ti-arrow-up"></i>
</button>
<!-- end footer -->