{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- start of Latest posts -->
    <section class="section">
      <div class="container">
        <div class="row gy-2 align-items-center section-title mb-0 section pt-0">
          <div class="col-12">
            <h1 class="h3 mb-0 title">Latest posts</h1>
          </div>
          <div class="col-12">
            <ul class="list-inline breadcrumb-menu">
              <li class="list-inline-item">
                <a class="text-link" href="">Home</a>
              </li>
              <li class="list-inline-item">• &nbsp; <a class="text-link" href="blog.html">Blog</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row gy-5 gx-md-5">
          <div class="col-lg-4 col-md-6">
            <article class="bg-white d-flex flex-column h-100">
              <div class="post-image">
                <a class="d-block" href="" title="What Do You Do When You Know You’re Not Fine?">
                  <img loading="lazy" class="w-100 h-auto" src="{% static 'assets/images/blog/07.webp' %}" alt="What Do You Do When You Know You’re Not Fine?" width="400" height="264">
                </a>
              </div>
              <div class="p-4 pb-0">
                <ul class="post-meta list-inline mb-3">
                  <li class="list-inline-item">
                    <i class="ti ti-calendar-event me-1"></i>2nd Jul, 2022
                  </li>
                  <li class="list-inline-item">•</li>
                  <li class="list-inline-item">
                    <i class="ti ti-clock-2 me-1"></i>02 min read
                  </li>
                </ul>
                <div class="position-relative">
                  <h3 class="h4 post-title mb-2 line-clamp clamp-2">
                    <a class="text-link stretched-link" href="" title="Read more about - What Do You Do When You Know You’re Not Fine?">What Do You Do When You Know You’re Not Fine?</a>
                  </h3>
                  <p class="mb-0 line-clamp clamp-3">Something was wrong with me. But what? Most of the physicians I’ve seen in my life made me feel like they didn’t care about me or my problems.</p>
                </div>
              </div>
              <div class="post-author d-flex mt-auto p-4">
                <div class="flex-shrink-0">
                  <a href="" class="is-hoverable" title="Read all posts of - Robert Britt">
                    <img loading="lazy" class="rounded-circle w-auto" src="{% static 'assets/images/author/robert-britt.jpg' %}" alt="Robert Britt" width="42" height="42">
                  </a>
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="mb-0 lh-base small">Written by</p>
                  <a class="text-link" href="" title="Read all posts by - Robert Britt">Robert Britt</a>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-4 col-md-6">
            <article class="bg-white d-flex flex-column h-100">
              <div class="post-image">
                <a class="d-block" href="" title="What Do You Do When You Know You’re Not Fine?">
                  <img loading="lazy" class="w-100 h-auto" src="{% static 'assets/images/blog/07.webp' %}" alt="What Do You Do When You Know You’re Not Fine?" width="400" height="264">
                </a>
              </div>
              <div class="p-4 pb-0">
                <ul class="post-meta list-inline mb-3">
                  <li class="list-inline-item">
                    <i class="ti ti-calendar-event me-1"></i>2nd Jul, 2022
                  </li>
                  <li class="list-inline-item">•</li>
                  <li class="list-inline-item">
                    <i class="ti ti-clock-2 me-1"></i>02 min read
                  </li>
                </ul>
                <div class="position-relative">
                  <h3 class="h4 post-title mb-2 line-clamp clamp-2">
                    <a class="text-link stretched-link" href="" title="Read more about - What Do You Do When You Know You’re Not Fine?">What Do You Do When You Know You’re Not Fine?</a>
                  </h3>
                  <p class="mb-0 line-clamp clamp-3">Something was wrong with me. But what? Most of the physicians I’ve seen in my life made me feel like they didn’t care about me or my problems.</p>
                </div>
              </div>
              <div class="post-author d-flex mt-auto p-4">
                <div class="flex-shrink-0">
                  <a href="" class="is-hoverable" title="Read all posts of - Robert Britt">
                    <img loading="lazy" class="rounded-circle w-auto" src="{% static 'assets/images/author/robert-britt.jpg' %}" alt="Robert Britt" width="42" height="42">
                  </a>
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="mb-0 lh-base small">Written by</p>
                  <a class="text-link" href="" title="Read all posts by - Robert Britt">Robert Britt</a>
                </div>
              </div>
            </article>
          </div>
            <div class="col-lg-4 col-md-6">
            <article class="bg-white d-flex flex-column h-100">
              <div class="post-image">
                <a class="d-block" href="" title="What Do You Do When You Know You’re Not Fine?">
                  <img loading="lazy" class="w-100 h-auto" src="{% static 'assets/images/blog/07.webp' %}" alt="What Do You Do When You Know You’re Not Fine?" width="400" height="264">
                </a>
              </div>
              <div class="p-4 pb-0">
                <ul class="post-meta list-inline mb-3">
                  <li class="list-inline-item">
                    <i class="ti ti-calendar-event me-1"></i>2nd Jul, 2022
                  </li>
                  <li class="list-inline-item">•</li>
                  <li class="list-inline-item">
                    <i class="ti ti-clock-2 me-1"></i>02 min read
                  </li>
                </ul>
                <div class="position-relative">
                  <h3 class="h4 post-title mb-2 line-clamp clamp-2">
                    <a class="text-link stretched-link" href="" title="Read more about - What Do You Do When You Know You’re Not Fine?">What Do You Do When You Know You’re Not Fine?</a>
                  </h3>
                  <p class="mb-0 line-clamp clamp-3">Something was wrong with me. But what? Most of the physicians I’ve seen in my life made me feel like they didn’t care about me or my problems.</p>
                </div>
              </div>
              <div class="post-author d-flex mt-auto p-4">
                <div class="flex-shrink-0">
                  <a href="" class="is-hoverable" title="Read all posts of - Robert Britt">
                    <img loading="lazy" class="rounded-circle w-auto" src="{% static 'assets/images/author/robert-britt.jpg' %}" alt="Robert Britt" width="42" height="42">
                  </a>
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="mb-0 lh-base small">Written by</p>
                  <a class="text-link" href="" title="Read all posts by - Robert Britt">Robert Britt</a>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-4 col-md-6">
            <article class="bg-white d-flex flex-column h-100">
              <div class="post-image">
                <a class="d-block" href="" title="What Do You Do When You Know You’re Not Fine?">
                  <img loading="lazy" class="w-100 h-auto" src="{% static 'assets/images/blog/07.webp' %}" alt="What Do You Do When You Know You’re Not Fine?" width="400" height="264">
                </a>
              </div>
              <div class="p-4 pb-0">
                <ul class="post-meta list-inline mb-3">
                  <li class="list-inline-item">
                    <i class="ti ti-calendar-event me-1"></i>2nd Jul, 2022
                  </li>
                  <li class="list-inline-item">•</li>
                  <li class="list-inline-item">
                    <i class="ti ti-clock-2 me-1"></i>02 min read
                  </li>
                </ul>
                <div class="position-relative">
                  <h3 class="h4 post-title mb-2 line-clamp clamp-2">
                    <a class="text-link stretched-link" href="" title="Read more about - What Do You Do When You Know You’re Not Fine?">What Do You Do When You Know You’re Not Fine?</a>
                  </h3>
                  <p class="mb-0 line-clamp clamp-3">Something was wrong with me. But what? Most of the physicians I’ve seen in my life made me feel like they didn’t care about me or my problems.</p>
                </div>
              </div>
              <div class="post-author d-flex mt-auto p-4">
                <div class="flex-shrink-0">
                  <a href="" class="is-hoverable" title="Read all posts of - Robert Britt">
                    <img loading="lazy" class="rounded-circle w-auto" src="{% static 'assets/images/author/robert-britt.jpg' %}" alt="Robert Britt" width="42" height="42">
                  </a>
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="mb-0 lh-base small">Written by</p>
                  <a class="text-link" href="" title="Read all posts by - Robert Britt">Robert Britt</a>
                </div>
              </div>
            </article>
          </div>
            <div class="col-lg-4 col-md-6">
            <article class="bg-white d-flex flex-column h-100">
              <div class="post-image">
                <a class="d-block" href="" title="What Do You Do When You Know You’re Not Fine?">
                  <img loading="lazy" class="w-100 h-auto" src="{% static 'assets/images/blog/07.webp' %}" alt="What Do You Do When You Know You’re Not Fine?" width="400" height="264">
                </a>
              </div>
              <div class="p-4 pb-0">
                <ul class="post-meta list-inline mb-3">
                  <li class="list-inline-item">
                    <i class="ti ti-calendar-event me-1"></i>2nd Jul, 2022
                  </li>
                  <li class="list-inline-item">•</li>
                  <li class="list-inline-item">
                    <i class="ti ti-clock-2 me-1"></i>02 min read
                  </li>
                </ul>
                <div class="position-relative">
                  <h3 class="h4 post-title mb-2 line-clamp clamp-2">
                    <a class="text-link stretched-link" href="" title="Read more about - What Do You Do When You Know You’re Not Fine?">What Do You Do When You Know You’re Not Fine?</a>
                  </h3>
                  <p class="mb-0 line-clamp clamp-3">Something was wrong with me. But what? Most of the physicians I’ve seen in my life made me feel like they didn’t care about me or my problems.</p>
                </div>
              </div>
              <div class="post-author d-flex mt-auto p-4">
                <div class="flex-shrink-0">
                  <a href="" class="is-hoverable" title="Read all posts of - Robert Britt">
                    <img loading="lazy" class="rounded-circle w-auto" src="{% static 'assets/images/author/robert-britt.jpg' %}" alt="Robert Britt" width="42" height="42">
                  </a>
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="mb-0 lh-base small">Written by</p>
                  <a class="text-link" href="" title="Read all posts by - Robert Britt">Robert Britt</a>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-4 col-md-6">
            <article class="bg-white d-flex flex-column h-100">
              <div class="post-image">
                <a class="d-block" href="" title="What Do You Do When You Know You’re Not Fine?">
                  <img loading="lazy" class="w-100 h-auto" src="{% static 'assets/images/blog/07.webp' %}" alt="What Do You Do When You Know You’re Not Fine?" width="400" height="264">
                </a>
              </div>
              <div class="p-4 pb-0">
                <ul class="post-meta list-inline mb-3">
                  <li class="list-inline-item">
                    <i class="ti ti-calendar-event me-1"></i>2nd Jul, 2022
                  </li>
                  <li class="list-inline-item">•</li>
                  <li class="list-inline-item">
                    <i class="ti ti-clock-2 me-1"></i>02 min read
                  </li>
                </ul>
                <div class="position-relative">
                  <h3 class="h4 post-title mb-2 line-clamp clamp-2">
                    <a class="text-link stretched-link" href="" title="Read more about - What Do You Do When You Know You’re Not Fine?">What Do You Do When You Know You’re Not Fine?</a>
                  </h3>
                  <p class="mb-0 line-clamp clamp-3">Something was wrong with me. But what? Most of the physicians I’ve seen in my life made me feel like they didn’t care about me or my problems.</p>
                </div>
              </div>
              <div class="post-author d-flex mt-auto p-4">
                <div class="flex-shrink-0">
                  <a href="" class="is-hoverable" title="Read all posts of - Robert Britt">
                    <img loading="lazy" class="rounded-circle w-auto" src="{% static 'assets/images/author/robert-britt.jpg' %}" alt="Robert Britt" width="42" height="42">
                  </a>
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="mb-0 lh-base small">Written by</p>
                  <a class="text-link" href="" title="Read all posts by - Robert Britt">Robert Britt</a>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <!-- end of Latest posts -->
{% endblock %}